/* general styles 
---------------------------------------------------------------------------------- */

body {background:#888;}
h4 { font-style:bold; font-weight:bold;}
ul {list-style-type:none; margin-left:0; padding-left:0;}
li {margin-top:.25em;}
p {color:#222;}
a {color:#3774A2;}
a:hover {color:#274385;}
a:focus {color:#274385;}


/* forms
--------------------------------------------------------------------------------- */
input[type=image] { /* form input images */
	margin:0.5em 0; 
	vertical-align:bottom;
} 
input[type=image]:hover{
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	transform:scale(1.25);
}
input[type="submit"] { /* Assistance by a book apart */
	padding: 5px 10px; 
	color: #444; 
	font-weight:bold;
	text-shadow: 0 1px rgba(255,255,255, 0.85);
	border: 1px solid #777; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#bbb)); 
	background-image: -moz-linear-gradient(0 100% 90deg, #eee, #bbb);
	background-color: #333; 
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); 
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); 
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	

}
input[type="submit"]:hover {
		
	
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#eee)); 
	background-image: -moz-linear-gradient(0 100% 90deg, #ccc, #eee);
	background-color: #333; 

	
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5); 
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5); 
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
}

/* special classes
-------------------------------------------------------------------- */
.box {background:#3774A2;}
.tstamp {font-size:.8em;}
.vtitle {color:#222;}
.vdesc {color:#888;}
.fwdbk a {text-decoration:none;}
.memid {color:#888;}
.votecenter {}

                       
/* DIV STYLES
------------------------------------------------------------------------------------*/
/* ------------------------- application html */
#container { position:absolute; background:white; height:100%; }
#header {background:#3774A2;margin:0; padding-top:1em; height:70px; width:100%;}
#header h1 {font-family: 'Orbitron', arial, serif; padding-left:.5em; color:white; text-shadow:0 1px 0 black;}
#header a {text-decoration:none;color:white;}
#header a:link {}
#header a:hover {}
#search {horizontal-align:right; text-align:center;}
#user_nav {text-align:center;}
#content{position:relative; background:white; margin-top:-1.0em; }
#content p.endy{font-family: 'Orbitron', arial, serif; text-align:center; size:0.75em; color:#777;}
#footer {z-index:4; position:relative; background: #3774A2;  height: 25px;}
#footer p {color:white; padding-top:.3em; text-align:center;}


/* ------------------------------- home INDEX */
#votes { }
#status {}
#feeds { z-index:2; position:absolute;  bottom:0; top:-1.5em; right:0px; padding:2em; padding-bottom:0; padding-right:1em; 
	background:#e5e5e5;
	background: -moz-linear-gradient(top, #cccccc 0%, #eeeeee 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#eeeeee)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* ie */

	}
#feedbox { z-index:3; position:relative; float:right; margin-top: -0.5em; height:100%; bottom:0; top:0px; right:0px; padding:2em; padding-left:2em; padding-right:1em;height:100%; bottom:0; top:0px; right:0px; padding:2em; padding-right:1em;}
#feedbox h3 {color:#333;}
#feedbox ul {color:#888; font-size:.8em;}
#feedbox a {color:#444 ;text-decoration:underline;font-size:1.25em;}
#senate_rss {height:100%; }
#house_rss {}


/*---------------------------------- Bills  SHOW */
#title h2 { padding-top:1em; margin-bottom: 1em;} /* used on votes show too */
#title h4 {margin-top:-1.75em;}/* used on votes show too */
#title p {text-align:justify;}/* used on votes show too */

#flash {}

/*--------- WATCH & UNWATCH BUTTON */
#hotnot { clear:both; 
	float:left;
	width:80px; 
	margin:5px; 
	margin-left:0;padding:3px; 
		padding-bottom:0px; 
		margin-top:2.35em;}
#hotnot a img { }
#hotnot a:hover img,
#hotnot a:focus img { }
#billtitle {float:left;margin-left:10px;}

/* ------- TAGS */
#tags {float:right; text-align:right;}
#tags p {text-align:right;}
#tags input[type="submit"] {
	padding: 1px 5px; 
	font-size: .85em;
}



/* ---------------------------------- BILLS INDEx */
#bindex p {text-align:justify;}


/* -----------------------------------votes SHOW */

/*--------- WATCH & UNWATCH BUTTON */
#key { clear:both; 
	float:left;
	width:86px; 
	margin:5px; 
	margin-left:0;padding:3px; 
		padding-bottom:0px; 
		margin-top:2.35em;}
#key a img { }
#key a:hover img,
#key a:focus img { }
#votetitle {float:left;}

#votebox {
	clear:both; 
	background: #e5e5e5; 
	padding:0; 
	margin-top:-1em;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px; 
	border-radius: 20px;
	}
#votebox ul { margin-left:auto; margin-right:auto; list-style-type: none;}
#votebox li { float: left; padding: 8px 20px 7px 20px; }
#repub_votes {clear:both; }



/* --------------------------------- members SHOW */
#sponsorships tbody tr:nth-child(even) td, tbody tr.even td {background:white;}
#sponsorships tr td {text-align:left; vertical-align:top;  padding:0;}/* Bills */
#title h2 { padding-top:1em;}
#top_donors p {font-size: 1.25em; color:#AF4F4D;}
#fin_graph {
	margin-top: -2.75em;
	padding: 10px;
	padding-bottom: 0px;
	float:right;
	background: #eee;
	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border-radius: 10px;
}


#ftm {
	padding: 8px;
	padding-bottom:0px;
	margin-left: 5px;
}

#pvs {
	margin-top:15px;
	margin-left: 65px;
	padding: 10px;
	
	text-align: center;
	background: #A27737;
	border: 2px solid #553B14;
	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border-radius: 10px;
}

#pvs a {
	color:white;
	font-display:strong;
	text-shadow: 1px 1px 1px #0a0a0a;
	filter: dropshadow(color=#0a0a0a, offx=1, offy=1);
}

#links {
	float:right;
	margin-top: -35px;
	margin-bottom: -5px;


}
/*------------------------------- Flash messages */
.flash {
    position:relative;
	  text-align: center;
    padding:    .3em .4em;
    margin-top: 1em;
    clear:              both;
    max-width:  100%; /* 610/13 */  
    *max-width: 100%; /* 610/13.3333 - for IE */
}

.flash.error {
    border: thin solid #8b0000;
    background: #ffc0cb;
}

.flash.notice, .flash.info {
    border: thin solid #ff0;
    background: #ffe;
}

.flash.warning {
    border: thin solid #b8860b;
    background: #ff0;
}

.flash .close {
    float:      right;
}

.flash .close a {
    color: #f00;
    text-decoration:    none;
}




/* navigation bar
------------------------------------------------------- */

nav ul {
	margin-top: -5px;
	margin-bottom:12px;
	float: left;
	width: 100%;
	list-style-type: none;
	font-weight:bold;
	text-shadow: 0 1px 0 #162F42;
	background: #3774A2;
	background: -moz-linear-gradient(top, #3774A2, #2D5F85);
	background: -webkit-gradient(linear, left top, left bottom, from(#3774A2), to(#2D5F85));

}

nav li {
	float: left;
}
nav ul a{
	display: block;
	padding: 5px 20px 7px 20px;
	list-style-type: none;
	float: left;
	color: white;
	font-size: 12px;
	text-decoration: none;
	text-shadow:0 1px 0 black;
	-webkit-transition-property: background; 
	-webkit-transition-duration: 0.5s; 
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: 0.5s;
	-moz-transition-property: background; 
	-moz-transition-duration: 0.3s; 
	-moz-transition-timing-function: ease;
	-moz-transition-delay: 0.5s;
}
nav ul a:hover,
nav ul a:focus {
	padding: 5px 20px 5px 20px;
	list-style-type: none;
	float: left;
	color: white;
	font-weight:bold;
	text-shadow:0 1px 0 black;
	background: -moz-linear-gradient(top, #2A587A, #3774A2);
	background: -webkit-gradient(linear, left top, left bottom, from(#2A587A), to(#3774A2));
	-moz-border-radius: 10px 10px 0px 0px; 
	border-radius: 10px 10px 0px 0px;
}

nav li a.current {
	padding: 5px 20px 5px 20px;
	list-style-type: none;
	float: left;
	color: black;
	font-weight:bold;
	text-shadow:none;
	-moz-border-radius: 10px 10px 0px 0px; 
	border-radius: 10px 10px 0px 0px;
	background: #ffffff; /* old browsers */
	background: -moz-linear-gradient(top, #EEEEEE 0%, #FFFFFF 80%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEEEEE), color-stop(80%,#FFFFFF)); /* webkit */
	background:white;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEEE', endColorstr='#FFFFFF',GradientType=0 ); /* ie */
	border: 1px solid white;
}
