body {background:#888;}
ul {list-style-type:none; margin-left:0; padding-left:0;}
p {color:#222;}
a {color:#3774A2;}
a:hover {color:#274385;}
a:focus {color:#274385;}
/* customized class *//

.box {background:#3774A2;}
.tstamp {font-size:.8em;}
.vtitle {color:#222;}
.vdesc {color:#888;}
.fwdbk a {text-decoration:none;}
.memid {color:#888;}
.votecenter {}
                       
/* div css */
  /* application html divs */
#container { position:absolute; background:white; height:100%; }

#header {background:#3774A2;margin:0; padding-top:1em; height:50px; width:100%;}
#header h1 {font-family: 'Orbitron', arial, serif; padding-left:.5em; color:white; text-shadow:0 1px 0 black;}
#header a {text-decoration:none;color:white;}
#header a:link {}
#header a:hover {}

#content{position:relative; background:white; margin-top:-1.0em; }
#content p.endy{font-family: 'Orbitron', arial, serif; text-align:center; size:0.75em; color:#777;}

#footer {z-index:4; position:relative; background: #3774A2;  height: 25px;}
#footer p {color:white; padding-top:.3em; text-align:center;}


/* home INDEX */
#votes { }
#status {}

#feeds { z-index:2; position:absolute; height:100%; bottom:0; top:-1.5em; right:0px; padding:2em; padding-bottom:0; padding-right:1em; 
	background:#e5e5e5;
	background: -moz-linear-gradient(top, #cccccc 0%, #eeeeee 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#eeeeee)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* ie */
	}


#feedbox { z-index:3; position:relative; float:right; margin-top: -0.5em; height:100%; bottom:0; top:0px; right:0px; padding:2em; padding-left:2em; padding-right:1em;height:100%; bottom:0; top:0px; right:0px; padding:2em; padding-right:1em;}
#feedbox h3 {color:#333;margin-bottom:0.3em;}
#feedbox ul {color:#888; font-size:.8em;}
#feedbox a {color:#444 ;text-decoration:underline;font-size:1.25em;}
#senate_rss {height:100%; }
#house_rss {}


/* Bills  SHOW */
#title h2 { padding-top:1em;}
#title p {text-align:justify;}
#tags {float:right; text-align:right;}
#tags p {text-align:right;}
#flash {}

/* WATCH OR UNWATCH BUTTON */
#hotnot a.watched:hover {
	clear:both;
	text-decoration:none;
	font-weight: bold;
	color:#eee; 
	float:left; 
	width:75px; 
	margin:5px; 
	margin-left:0; 
	height:2em; 
	padding:3px; 
	padding-bottom:0px;
	padding-top: .5em;
	margin-top:2.35em; 
	background:#AF4F4D; 
	-moz-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px; 
	text-align:center;
	background:#AF4F4D; 
	background: #AF4F4D; /* old browsers */
	background: -moz-linear-gradient(top, #AF4F4D 0%, #8E413E 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AF4F4D), color-stop(100%,#8E413E)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AF4F4D', endColorstr='#8E413E',GradientType=0 ); /* ie */
	
}	
#hotnot a.watched {
	clear:both;
	text-align:center;
	text-decoration:none; 
		font-weight: bold;
	color:#eee; 
	float:left; 
	width:75px; 
	margin:5px; 
	margin-left:0; 
	height:2em; 
	padding:3px; 
	padding-bottom:0px;
	padding-top: .5em;
	margin-top:2.35em;
	background: #3774A2; 
	-moz-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px;
	background: -moz-linear-gradient(top, #3774A2 0%, #2D5F85 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3774A2), color-stop(100%,#2D5F85)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3774A2', endColorstr='#2D5F85',GradientType=0 ); /* ie */
	
}


#hotnot a.unwatched {
	clear:both;
	text-decoration:none; 
		font-weight: bold;
	color:#eee; 
	float:left; 
	width:75px; 
	margin:5px; 
	margin-left:0; 
	height:2em; 
	padding:3px; 
	padding-bottom:0px;
	padding-top: .5em;
	margin-top:2.35em; 
	background:#AF4F4D; 
	-moz-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px; 
	text-align:center;
	background:#AF4F4D; 
	background: #AF4F4D; /* old browsers */
	background: -moz-linear-gradient(top, #AF4F4D 0%, #8E413E 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AF4F4D), color-stop(100%,#8E413E)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AF4F4D', endColorstr='#8E413E',GradientType=0 ); /* ie */
	
}	
#hotnot a.unwatched:hover {
	clear:both;
	text-align:center;
	text-decoration:none; 
		font-weight: bold;
	color:#eee; 
	float:left; 
	width:75px; 
	margin:5px; 
	margin-left:0; 
	height:2em; 
	padding:3px; 
	padding-bottom:0px;
	padding-top: .5em;
	margin-top:2.35em;
	text-shadow:0 0  1px  #fff; 
	background: #3774A2; 
	-moz-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px;
	background: -moz-linear-gradient(top, #3774A2 0%, #2D5F85 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3774A2), color-stop(100%,#2D5F85)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3774A2', endColorstr='#2D5F85',GradientType=0 ); /* ie */
	
}







#billtitle {float:left;margin-left:10px;}


/* BILLS INDEx */
#bindex p {text-align:justify;}




/*votes SHOW */
#votetitle {clear:both; float:left;}
#votetitle h2 {margin-bottom: 1em;}
#votetitle h4 {margin-top:-1.75em;}
#key a {
	clear:both;
	position:relative;
	text-decoration:none; 
	color:#eee; 
	float:left; 
	width:95px; margin:5px; 
	margin-left:0; 
	height:2em; 
	padding:3px; 
	padding-left:10px;
	padding-bottom:0px; 
	margin-top:2em; 
	background:#AF4F4D; 
	-moz-border-radius: 10px 0px 0px 10px; 
	border-radius: 10px 0px 0px 10px; 
	text-align:left;
	background:#AF4F4D; 
	background: -moz-linear-gradient( left center, #AF4F4D 32%, #AF4F4D 60%, #FFFFFF 100%); 
	background: -webkit-gradient(	linear,left 90, right 90,color-stop(0.32, #AF4F4D),color-stop(0.60, #AF4F4D),color-stop(1.0, #ffffff)	);
}
#key a:hover {
	clear:both;
	color:white;
	float:left; 
	width:95px; 
	margin:5px; 
	margin-top:2em; 
	margin-left:0; 
	height:2em; 
	padding:3px; 
	padding-bottom:0px; 
	text-shadow:0 0  1px  #fff; 
	background: -moz-linear-gradient(left center,#3774A2 32%, #3774A2 60%,#FFFFFF 100%	); 
	background: -webkit-gradient(linear, left 90,right 90,color-stop(0.32, #3774A2),color-stop(0.60, #3774A2), color-stop(1.0, #fff)	);
	padding-left:10px;
	text-align:left;
}

#keytitle {float:left;}
#votebox {clear:both; background: #e5e5e5; padding:0; margin-top:-1em;}
#votebox ul { margin-left:auto; margin-right:auto; list-style-type: none;}
#votebox li { float: left; padding: 5px 20px 7px 20px; }
#repub_votes {clear:both;}


/* members SHOW */
#sponsorships tbody tr:nth-child(even) td, tbody tr.even td {background:white;}
#sponsorships tr td {text-align:left; vertical-align:top;  padding:0;}/* Bills */
#title h2 { padding-top:1em;}


/* Flash messages */
.flash {
    position:relative;
	text-align: center;
    padding:    .3em .4em;
    margin-top: 1em;
    clear:              both;
    max-width:  100%; /* 610/13 */  
    *max-width: 100%; /* 610/13.3333 - for IE */
}

.flash.error {
    border: thin solid #8b0000;
    background: #ffc0cb;
}

.flash.notice, .flash.info {
    border: thin solid #ff0;
    background: #ffe;
}

.flash.warning {
    border: thin solid #b8860b;
    background: #ff0;
}

.flash .close {
    float:      right;
}

.flash .close a {
    color: #f00;
    text-decoration:    none;
}

/* navigation */

nav ul {
	margin-top: -5px;
	margin-bottom:12px;
	float: left;
	width: 100%;
	list-style-type: none;
	font-weight:bold;
	text-shadow: 0 1px 0 #162F42;
	background: #3774A2;
	background: -moz-linear-gradient(top, #3774A2, #2D5F85);
	background: -webkit-gradient(linear, left top, left bottom, from(#3774A2), to(#2D5F85));
}
nav li {
	float: left;
}
nav ul a{
	display: block;
	padding: 5px 20px 7px 20px;
	list-style-type: none;
	float: left;
	color: white;
	font-size: 12px;
	text-decoration: none;
	text-shadow:0 1px 0 black;
}
nav ul a:hover{
	padding: 5px 20px 5px 20px;
	list-style-type: none;
	float: left;
	color: white;
	font-weight:bold;
	text-shadow:0 1px 0 black;
	background: -moz-linear-gradient(top, #2A587A, #3774A2);
	background: -webkit-gradient(linear, left top, left bottom, from(#2A587A), to(#3774A2));
	-moz-border-radius: 10px 10px 0px 0px; 
	border-radius: 10px 10px 0px 0px;
}

nav li a.current {
	padding: 5px 20px 5px 20px;
	list-style-type: none;
	float: left;
	color: black;
	font-weight:bold;
	text-shadow:none;
	-moz-border-radius: 10px 10px 0px 0px; 
	border-radius: 10px 10px 0px 0px;
	background:white;
	background: #ffffff; /* old browsers */

	background: -moz-linear-gradient(top, #EEEEEE 0%, #FFFFFF 80%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEEEEE), color-stop(80%,#FFFFFF)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEEE', endColorstr='#FFFFFF',GradientType=0 ); /* ie */
	border: 1px solid white;
}

/* nav li a.current1 {
	padding: 5px 20px 5px 20px;
	list-style-type: none;
	float: left;
	color: black;
	font-weight:bold;
	text-shadow:none;
	-moz-border-radius: 10px 10px 0px 0px; 
	border-radius: 10px 10px 0px 0px;
	background:white;
	border: 1px solid white;
} */